@using MDC.HappyBuisness.Web.Models.Buyers
@model BuyerDetailsViewModel

@{
    ViewData["Title"] = $"{@Model.CodeName} Details";
}

<div class="container">
    <h1><span class="text-primary">@Model.CodeName</span> Details</h1>

    <hr />
    <div>
        <a class="btn btn-secondary me-2" asp-action="Index">Back</a>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    </div>
    <hr />

    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CodeName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CodeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DOB)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DiscountInPercentage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DiscountInPercentage)
            </dd>
        </dl>
    </div>
</div>
