@model IEnumerable<MDC.HappyBuisness.Web.Models.Drugs.DrugListViewModel>

@{
    ViewData["Title"] = "Drug Search Results";
}
<div class="container">
    <h1>Drug Search Results</h1>

    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StreetName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClassificationName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var drug in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => drug.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => drug.StreetName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => drug.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => drug.ClassificationName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => drug.Rating)
                        </td>
                        <td>
                            <a asp-controller="Drugs" asp-action="Details" class="text-decoration-none text-info me-2" asp-route-id="@drug.Id">
                                <i class="fa-solid fa-circle-info" title="Details" data-bs-toggle="tooltip"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>No results found.</h3>
    }

</div>